[*.cs]

# CS8604: 가능한 null 참조 인수입니다.
dotnet_diagnostic.CS8604.severity = none

# CS8603: 가능한 null 참조 반환입니다.
dotnet_diagnostic.CS8603.severity = none

# CS8600: null 리터럴 또는 가능한 null 값을 null을 허용하지 않는 형식으로 변환하는 중입니다.
dotnet_diagnostic.CS8600.severity = none

# CS8619: 값에 있는 참조 형식 Null 허용 여부가 대상 형식과 일치하지 않습니다.
dotnet_diagnostic.CS8619.severity = none
